:root {
  --color-yellow: #FFB800;
  --color-yellow-dark: darkorange;
}

body {
  font-family: 'Inter', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 1.25em;
  margin: 0 auto;
  padding: 0;
  color: #333;
}

p {
  font-size: 1em;
  line-height: 1.55em;
}

.container {
  margin: 0 auto;
  padding: 1em 2em;
}
.buttons-group {
  display: flex;
  flex-direction: column;
}

.btn__cta {
  padding: 0.75em;
  margin: 0.25em 0;
  font-size: 1.25em;
  line-height: 1.35em;
  display: block;
  color: #222;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  background-color: var(--color-yellow);
  border-radius: 5px;
}
.btn__cta:hover {
  transition: all 200ms ease;
  background-color: var(--color-yellow-dark);
}
.btn__cta--empty {
  background: none;
  border: 3px solid var(--color-yellow);
  color: var(--color-yellow);
}
.btn__cta--empty:hover {
  background-color: var(--color-yellow);
  color: #222;
  transition: all 200ms ease;
}
.btn--center {
  display: block !important;
  margin: 0 auto;
}
.btn__price {
  display: inline-block;
}

.Photo--instructor {
  width: 250px;
  margin: 0 auto;
}
.Photo--instructor img {
  width: 100%;
  border-radius: 10%;
}
.Photo--companies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.Photo--companies__item {
  width: 100px;
}
.Photo--companies__item img {
  width: 100%;
}

.Header {
  background: url('./img/dots-large.svg') repeat rgb(51, 51, 51);
  color: #fafafa;
}
.Header__logo {
  margin: 0 auto 1em auto;
  width: 350px;
}
.Header__logo img {
  width: 100%;
}
.Header__title {
  margin: 0 auto;
  padding: 0;
  line-height: 1.25em;
}
.Header__subtitle {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.5em;
}

.CurriculumList {
  padding-left: 0;
}
.CurriculumList__item {
  list-style-type: none;
  box-shadow: 0 1px 15px rgba(27,31,35,0.15);
  margin: 0.5em 0;
  padding: 0.5em;
  border-radius: 10px;
  display: flex;
}
.CurriculumList__logo {
  width: auto;
  height: 48px;
  margin: 0;
  padding: 0.25em 0.75em 0.25em 0;
}

.Section__title {
  border-left: 5px solid var(--color-yellow);
  padding-left: 1em;
  margin-bottom: 1.25em;
  font-size: 1.5em;
  line-height: 1.55em;
}
.Section__heading {
  text-align: center;
  font-size: 2em;
  line-height: 1.5em;
}
.Section__bg-color {
  background-color: #eaeaea;
}
.Section__list {
  margin-bottom: 2em;
}
.Section__list li {
  font-size: 1em;
  margin-bottom: 1em;
  line-height: 1.75em;
}

.Form {
  display: flex;
  flex-direction: column;
}
.Form__input {
  border: 2px solid #ddd;
  margin: 0 0 0.5em 0;
  border-radius: 10px;
  font-size: 1em;
  padding: 0.75em;
  outline: none;
}
.Form__submit {
  border: 0;
  border-radius: 10px;
  padding: 0.75em;
  font-size: 1.25em;
  display: block;
  color: #222;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  background-color: var(--color-yellow);
}

.Instructor__title {
  color: darkgray;
}

.Testimonials {
  display: flex;
  flex-direction: column;
}
.Testimonials__card {
  display: flex;
  margin-bottom: 0.5em;
  box-shadow: 0 1px 15px rgba(27,31,35,0.15);
  border-radius: 10px;
  padding: 1em;
}
.Testimonials__photo {
  width: 30%;
  margin: 0 1em 0 0;
}
.Testimonials__photo img {
  width: 100%;
  border-radius: 10%;
  margin: 0 auto;
}
.Testimonials__card__content {
  width: 60%;
}
.Testimonials__name {
  margin: 0;
  padding: 0;
}
.Testimonials__job {
  color:#444;
  font-size: 0.9em;
}
.Testimonials__text {
  font-style: italic;
  font-size: 1em;
}

.Pricing__text {
  display: flex;
  flex-direction: column;
}
.Pricing__heading {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 600;
  border-left: 3px solid var(--color-yellow);
  padding-left: 1em;
  display: block;
}
.Pricing__content {
  display: block;
  line-height: 1.5em;
  margin: 0.5em 0 1em 1em;
}
.Pricing__price {
  background: white;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 1.5em;
  text-align: center;
}
.Pricing__price p {
  font-weight: 100;
  font-size: 3em;
  margin: 0 1rem;
}
.Pricing__price span {
  display: block;
  margin: 0.75em 0;
}

.Footer {
  background: #222;
}
.Footer__text {
  margin: 0 auto;
  text-align: center;
  color: #fafafa;
  font-size: 0.8em;
  padding: 1.5em;
}

@media (min-width: 760px) {
  p {
    font-size: 1.25em;
  }
  
  .Header__logo {
    margin: 2.5em 0;
    width: 512px;
    display: inline-block;
  }
  
  .Header__title {
    font-size: 3em;
  }

  .Header__subtitle {
    font-size: 2em;
  }

  .buttons-group {
    flex-direction: row;
    justify-content: space-between;
  }
  .buttons-group a {
    width: 43%;
  }

  .Section__title {
    font-size: 2em;
  }
  .Section__list li {
    font-size: 1.25em;
  }

  .CurriculumList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .CurriculumList__item {
    width: 30%;
  }

  .btn__cta {
    display: inline-block;
    width: 450px;
    font-size: 1.5em;
    margin-bottom: 1.5em;
  }

  .container {
    max-width: 740px;
  }

  .Form {
    width: 500px;
    margin: 0 auto;
  }

  .Instructor {
    display: flex;
  }
  .Instructor__name {
    margin: 0 auto;
    padding: 0;
  }
  .Instructor__title {
    margin: 1em auto;
    padding: 0;
  }

  .Photo--instructor {
    width: 512px;
    margin: 0 1em 0 0;
  }

  .Pricing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .Pricing__text {
    width: 65%;
  }
  .Pricing__price {
    width: 25%;
  }
  .Pricing__price p {
    font-size: 2.5em;
  }
  .btn__price {
    width: auto;
  }
}

@media (min-width: 1120px) {
  .Header__logo {
    margin: 1em 0 2em 0;
    width: 512px;
    display: inline-block;
  }
  
  .Header__title {
    font-size: 3.25em;
    margin-bottom: 1em;
  }

  .Header__subtitle {
    font-size: 2em;
    margin-bottom: 1.5em;
  }
  .Header__date {
    text-align: center;
  }


  .buttons-group {
    justify-content: center;
    align-content: center;
  }
  .buttons-group a {
    width: 30%;
    margin: 0.5em;
  }

  .container {
    max-width: 1024px;
  }

  .CurriculumList {
    font-size: 1.25em;
    line-height: 1.25em;
  }

  .Section__title {
    font-size: 2.25em;
  }

  .Photo--companies__item {
    width: 175px;
  }
  .Photo--instructor {
    margin-right: 1.5em;
  } 

  .Testimonials {
    flex-direction: row;
    justify-content: space-between;
  }
  .Testimonials__card {
    width: 30%;
    margin: 0 0.5em;
  }
  .Testimonials__text {
    width: 200px;
  }

  .Pricing__price p {
    font-size: 2.85em;
  }
  .btn__price {
    display: block;
    font-size: 1.25em;
    padding: 0.5em;
    margin-top: 2em;
  }
}